.buttons {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: left;
}



select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    margin-top: 18px;
    margin-left: 10px;
}



.dropdown {
    display: inline-block;
    position: relative;
  }
  
  button{
    border:none;
    border-radius:5px;
    padding:15px 30px;
    font-size:18px;
    cursor:pointer;
    margin-top: 16px;
    margin-left: 900px;
  }
  
  button:hover{
    background-color:#ddd;
  }
  
  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    margin-left: 900px;
    .dropdown {
  display: inline-block;
  position: relative;
  
}

button{
  border:none;
  border-radius:5px;
  padding:15px 30px;
  font-size:18px;
  cursor:pointer;
}

button:hover{
  background-color:#ddd;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
  
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}
  }
  
  .dropdown:hover .dropdown-options {
    
    display: block;
  }
  
  .dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:20px 40px;
  }
  
  .dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius:5px;
  }

body {
    min-height: 100vh;
    display: grid;
    place-items: left;
}

.container {
    display: flex;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.navbar {
    background-color: #43d75c;
}


.left-side,
.right-side {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
    background-color: #f5f5f5;
    overflow: auto;
    box-sizing: border-box;
}

.left-side {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
}

.center {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}

.right-side {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
}

.center {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

.output-screen {
    width: 100%;
    height: 20%;
    background-color: #333;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

.text-input {
    width: 100%;
    height: 68%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.practical-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.practical-list a {
    display: block;
    padding: 5px;
    background-color: #db8f4b;
    text-decoration: none;
    color: #333;
}

.practical-list a:hover {
    background-color: #ddd;
}

.practical-marks {
    list-style: none;
    padding: 0;
    margin: 0;
}

.practical-marks a {
    display: block;
    padding: 5px;
    background-color: #db8f4b;
    text-decoration: none;
    color: #333;
}

.practical-marks a:hover {
    background-color: #ddd;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.run-button {
    background-color: #444;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 10px;
}

.run-button:hover {
    background-color: #43d75c;
}

.code-button {
    background-color: #43d75c;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 10px;
}

.code-button:hover {
    background-color: #444;
}
